<form action="/login" method="post">
  <input type="text" name="user[email]" placeholder="your email" value="<%= @user.email %>">
  <br>
  <input type="password" name="user[password]" placeholder="your password">
  <input type="submit" value="Login"/>
</form>
